#story {
    background-color: lightgreen;
    padding: 10px;
    margin: 10px solid black;
    width: 400px;
    height: auto;
}
/* img (
    width: 30px;
    padding: 10 px
    margin: 10px solid black;
)