#story {
    background-color: lightgreen;
    padding: 10px;
    border: 10px solid black;
    width: 400px;
    height: auto;
}
/* img {
    width: 300px;
    padding: 10 px
    border: 10px solid black;
}