* {
    text-align:center;
    background-color: lightgray
}
h1 {
    color: navy;
    text-align: center;
}
h2 {
    color:navy;
}
li {
    color:navy;
}
h4,h6 {
    color: navy;

}
/* <img> {
    margin: 20px; }
#early_years {
    background-image: url("C:\Users\gregh\OneDrive\Documents\Coding_Computer\Projects\GregWebpage_New\resources\Images\1YrOldGregWithPaternalGrandfatherAndPaternalGrandmother_resize.jpg");
    height: 250 px;
    color: red;
}