* {
    text-align:center;
    background-color: lightgray
}
h1 {
    color: navy;
    text-align: center;
}
h2 {
    color:navy;
}
li {
    color:navy;
}
h4,h6 {
    color: navy;

}
/* <img> {
    margin: 20px; }
