*/ {
    background-color: lightgray;
}
#table {
    width: 500px;
    background-color: skyblue;
    color: darkblue;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    padding: 10px;
    border: 10px solid darkblue;
    margin: 10px
}
h1 {
    color:darkblue;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
}
td {
    align-content: center;
    text-align: center;
}
th {
    align-content: center;
}
table, th, td {
    padding: 10px;
    border: 1px sodid black;
    border-collapse: collapse;
}
